target/
!.mvn/wrapper/maven-wrapper.jar

#Extended
.idea
target
*.swp
.factorypath
.vscode
dist
application.properties

# compiled output
/dist
/tmp
/out-tsc

# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iws
*.ipr

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# STS
.apt_generated
.settings
.springBeans

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
